<h1>Login to your OpenMicWorld Account:</h1>
<br>
<br>
<form class="" action="/users/login" method="post" >
  <%# <label for="name">Name: </label>
  <input type="text" name="name" placeholder="Your first and last names"> %>
  <h4><label for="cellphone">Cell phone: </label></h4>
  <input type="text" name="cellphone" placeholder="2025551212 for example" value="">
  <br>
  <h4><label for="password">Password: </label></h4>
  <input type="text" name="password" placeholder="Password you'll remember" value="">
  <br>
  <br> 
  <input type="submit" value="Login">
</form>
<a href="/">Back</a>