<h1>Welcome to your account page, <%= current_user.name %>.</h1>
<h3>Currently we have this cell phone that accepts text messages on file: <%= current_user.cellphone %></h3>

<h2> Below are all your OpenMicWorld registered performances: </h2>

<h3> Check out the cool Ruby code that:
  <ul>* iterates over all performances and</ul>
  <ul>* displays the current user's song repertoire with hyperlinks to each song's particular show page</ul>
</h3>
