<h2>Welcome to your account page, <%= current_user.name %>.</h2>
<h3>Currently we have this cell phone that accepts text messages on file: <%= current_user.cellphone %></h3>

<h3> Below are all your OpenMicWorld registered performances: </h3>
<%# # FIX THIS LINE %>
      <%# <% 
      } do |performance| %> %>
        <%# <p><strong><%= performance.song %></strong> by <%= performance.artist %> </p> %>
      <%# <% end %> %>

<div class="nav">
      <a href="/logout">Logout</a> </h4>
</div>
