<h2> Welcome, <%= current_user.name %> to Your Account Page</h2>
<h3>Cell Phone that accepts text messages: </h3>
<h4><%= current_user.cellphone %></h4>

<h3> And, here are all your OpenMicWorld registered performances </h3>


<div class="nav">
      <a href="/logout">Logout</a> </h4>
</div>
