<h2>Welcome to your account page, <%= current_user.name %>.</h2>
<h3>Currently we have this cell phone that accepts text messages on file: <%= current_user.cellphone %></h3>

<h3> Below are all your OpenMicWorld registered performances: </h3>

<h1> Check out the cool Ruby code that iterates over all performances and:
  <ul>1. displays the current user's song repertoire,</ul>
  <ul>2. allows user to see that individual song's details, </ul>
  <ul>3. allows user to edit a song</ul>
  <ul>4. allows user to delete song from repertoire.</ul>
</h1>
