<h2>Sign Up for Open Mic World Here!</h2>
<br>
<br>
<form class="" action="/users/sign" method="post">
  <label for="name">Full Name: </label>
  <input type="text" name="name" placeholder="First and Last Names" value=""><br>
  <br>
  <label for="cellphone">Cell Phone: </label>
  <input type="text" name="cellphone" placeholder="2025551212 for example" value=""><br>
  <br>
  <label for="password">Password: </label>
  <input type="text" name="password" placeholder="a password you'll remember" value=""><br>
  <br>
  <%# create user %>
  <input type="submit" name="" value="Sign Up">
</form>
<br>
<br>
<a href="/">Back</a>
