    <% if logged_in? %>    
      <h1>Hi <%=current_user.name %>, welcome to OpenMicWorld!</h1>
    <% else %>
      <h1>Welcome to OpenMicWorld!</h1>
    <%end %>

    <h2>A place where you can support your favorite local artists, connect with your audience and/or find your stage.
    <br>
    <br>
    Here are all the songs OpenMicWorld members are going to perform soon at an Open Mic Night stage near you!</h2>
  <div id="homepage" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 350px">
      <% @performances.each do |performance| %>
        <p><a href="/performances/<%= performance.id%>"><strong><%= performance.song %></strong> by <%= performance.artist %></a></p>
        <% end %>
  </div>
