<h1>Welcome to Open Mic World!</h1>
<h2>All Performances</h2>
    <% if logged_in? %>
      <a href="/performances/new"> Sign Up To Perform at an Open Mic Night </a>
      <a href="/users/logout"> Log Out </a>

      <p>Welcome, <%=current_user.username %></p>
        <% @performances.each do |performances| %>
        <a href="/performances/performances<%= performances.id %>"><%= user.name %></a><br>
        <% end %>
        <a class="button" href="/performances/performances">Performances</a>
        <a class="button" href="/">Home</a>
    <% else %>
      <h2>Welcome to Open Mic World!</h2>
      <p>Please login to register for a performance or signup for OpenMicWorld below:</p>
      <a class="button" href="/users/login">Log In</a>
      <a class="button" href="/users/signup">Sign Up</a>
    <%end %>