<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/main.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
    <title>OpenMicWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="content" class="wrapper">
        <% if logged_in? %>
          <% current_user %>
          <h4><a class="nav" href="/">OpenMicWorld Homepage</a> &emsp; <a class="nav" href="/performances/new">Register a New Performance</a> &emsp; <a class="nav" href="/users/<%= @current_user.id %>">See My Performances & Account</a></h4>
        <% else %>
          <h4><a class="nav" href="/">OpenMicWorld Homepage</a> &emsp; <a class="nav" href="/login">Log into OpenMicWorld</a> &emsp; <a class="nav" href="/signup">Signup for OpenMicWorld</a></h4>
        <%end %>
      <br>
      <br>
      
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

      <%= yield %>

      <div class="">
        <% if logged_in? %>
          <br>
          <br>
          <a class="button" href="/logout"> Log Out </a>
        <% else %>
        <%end %>
      </div>

      <footer class="branding">
        <strong><a href="/" style="color:#a8bcdc;text-decoration:none;font-size: normal;">&copy; 2020  OpenMicWorldApp</a></strong>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
