<h1><p> Hi, <%= current_user.name %></h1>
<h2> Here are all open OpenMicWorld's users' upcoming performances:</h2>
<br>
<h2>Iterate over all performances and show the OpenMicWorld username and the title of the song, song writer, and genre.</h2>

  <%# @performances.each do |find_user_songs| %>